<div class="sixteen columns">
	<h2><%= @script.title %></h2>
	<p> Written By:
	<% @writers.each do |writer| %>
		<%= link_to(writer.email, writer) %>, 
	<% end %></p>
</div>

<div class="six columns editor">
	<h2>Fountain Editor</h2>
</div>

<div class="six columns preview">
	<h2>Preview</h2>
</div>

<script type="text/template" id="line-input-template">
	<input type="text" id="line-content" value="<%%= content %>">
</script>

<script type="text/template" id="line-preview-template">
	<span><%%= content %></span>
</script>