<div class="sixteen columns">
	<h2 class="script-title"><%= link_to(@script.title, edit_script_path(@script)) %></h2>
	<div class="writers">
		<p> Written By:
		<% @authorships.each do |writer| %>
			<span class="<%= writer.color %>"><%= link_to(writer.user.email, writer.user) %></span>, 
		<% end %></p>
	</div>
</div>


<div class="six columns">
	<h2>Fountain Editor</h2>
	<div class="editor">
	</div>
</div>

<div class="nine columns preview">
	<h2>Preview</h2>
</div>

<script type="text/template" id="line-input-template">
	<input type="text" class="line-content" value="<%%= content %>">
</script>

<script type="text/template" id="line-preview-template">
	<span class="<%%=user_color%>"><%%= content %></span>
</script>

